/**
* Created by zeqi
* @module client-->{{&moduleName}}
* @auto-gen
* Note: auto-gen code, NOT allowed to modify
*/
var grpc = require('grpc');

var PROTO_PATH = __dirname + '/../../../protos/{{&moduleName}}.proto';
var proto = grpc.load(PROTO_PATH).{{&packageName}};

//console.log(grpc);
//console.log(proto);
/*console.log(proto);

console.log(grpc.callError);
console.log(grpc.propagate);
console.log(grpc.status);*/

console.log(new proto.Res());

/*console.log(new proto.Msg(111, '22222'));
console.log(new proto.Res());*/

//console.log(new proto.Req_Doc());
/*console.log(new proto.Res_Doc());
console.log(new proto.Res_Docs());
console.log(new proto.Res_Docs_count(1, 2, '3333', {list: [], count: 0}));*/
//console.log(eachAttributes(proto.Res_Doc));

module.exports.Proto = proto;
module.exports.Api = new proto.User('localhost:50051', grpc.credentials.createInsecure());