/**
* Created by zeqi
* @module proto-->{{&moduleName}}
* @auto-gen
* Note: auto-gen code, NOT allowed to modify
*/
syntax = "{{&syntax}}";

{{#imports}}
    import "../{{.}}.proto";
{{/imports}}

package {{&packageName}};

message DocModel {
    {{#schema}}
        optional {{protoType}} {{&name}} = {{serial}};
    {{/schema}}
    optional string _id = 130;
    optional int32 __v = 131;
    extensions 150 to 200;
}

message Req_doc {
    optional string mobile = 1;
    optional string name = 2;
    optional int32 gender = 3;
}

message Req_docs {
    repeated Req_doc docs = 1;
}

message Res_doc {
    optional int32 status = 1;
    optional int32 code = 2;
    optional string msg = 3;
    optional DocModel data = 4;
}

message Res_docs {
    optional int32 status = 1;
    optional int32 code = 2;
    optional string msg = 3;
    repeated DocModel data = 4;
}

message Docs_list_count {
    optional int32 count = 1;
    repeated DocModel list = 2;
}

message Res_docs_list_count {
    optional int32 status = 1;
    optional int32 code = 2;
    optional string msg = 3;
    optional Docs_list_count data = 4;
}

extend Res {
    optional DocModel data = 4;
}

message Msg {
    oneof oneof_field {
        uint32 oneof_uint32 = 111;
        //DocModel oneof_foreign_message = 112;
        string oneof_string = 113;
        bytes oneof_bytes = 114;
    }
}